# Variables de entorno
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# open-wa / whatsapp-web.js
.session/
session/
tokens/
*.session
.wwebjs_auth/
wwebjs_auth*
qr.png

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Backups
*.bak
*.backup
